.settings-change-password,
.settings-change-password * {
    box-sizing: border-box;
}

.settings-change-password {
    background: #ffffff;
    width: 1440px;
    height: 1024px;
    position: relative;
    overflow: hidden;
}

.side-bar {
    width: 300px;
    height: 1024px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.side-bar-rectangle {
    background: var(--primary-color-6, #0c3cff);
    width: 300px;
    height: 1024px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.logo {
    width: 200px;
    height: 66px;
    position: absolute;
    left: 51px;
    top: 40px;
}

.group {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
}

.vector3 {
    position: absolute;
    left: 79.6px;
    top: 9.43px;
    overflow: visible;
}

.side-bar-context {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 0px;
    top: 168px;
}

.my-dashboard {
    padding: 4px 57px 4px 10px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 300px;
    height: 52px;
    position: relative;
    overflow: hidden;
}

.heroicons-solid-squares-2-x-2 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.my-dashboard2 {
    color: #ffffff;
    text-align: left;
    font: var(--h-5-semi-bold, 600 16px "Poppins", sans-serif);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.my-profile {
    padding: 4px 96px 4px 10px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 300px;
    height: 52px;
    position: relative;
    overflow: hidden;
}

.heroicons-solid-user {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.my-profile2 {
    color: #ffffff;
    text-align: left;
    font: var(--h-5-semi-bold, 600 16px "Poppins", sans-serif);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.my-transactions {
    padding: 4px 40px 4px 10px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 300px;
    height: 52px;
    position: relative;
    overflow: hidden;
}

.heroicons-solid-bars-3-bottom-left {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.my-transactions2 {
    color: #ffffff;
    text-align: left;
    font: var(--h-5-semi-bold, 600 16px "Poppins", sans-serif);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.create-saving-goals {
    padding: 4px 10px 4px 10px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 300px;
    height: 52px;
    position: relative;
    overflow: hidden;
}

.heroicons-solid-inbox-arrow-down {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.create-saving-goals2 {
    color: #ffffff;
    text-align: left;
    font: var(--h-5-semi-bold, 600 16px "Poppins", sans-serif);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.add-money {
    padding: 4px 84px 4px 10px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 300px;
    height: 52px;
    position: relative;
    overflow: hidden;
}

.heroicons-solid-plus-circle {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.add-money2 {
    color: #ffffff;
    text-align: left;
    font: var(--h-5-semi-bold, 600 16px "Poppins", sans-serif);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.withdraw {
    padding: 4px 95px 4px 10px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 300px;
    height: 52px;
    position: relative;
    overflow: hidden;
}

.heroicons-solid-rectangle-stack {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.withdraw2 {
    color: #ffffff;
    text-align: left;
    font: var(--h-5-semi-bold, 600 16px "Poppins", sans-serif);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.settings {
    background: var(--primary-color-7, #0a32d4);
    padding: 4px 109px 4px 10px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 300px;
    height: 52px;
    position: relative;
    overflow: hidden;
}

.heroicons-solid-wrench-screwdriver {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.settings2 {
    color: #ffffff;
    text-align: left;
    font: var(--h-5-semi-bold, 600 16px "Poppins", sans-serif);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.support-dp {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.support {
    background: var(--primary-color-6, #0c3cff);
    padding: 10px 10px 10px 48.5px;
    display: flex;
    flex-direction: row;
    gap: 20.5px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 300px;
    position: relative;
    overflow: hidden;
}

.support-icons {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.support2 {
    color: var(--white-color, #ffffff);
    text-align: left;
    font: var(--h-5-bold, 700 16px/32px "Poppins", sans-serif);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.heroicons-solid {
    flex-shrink: 0;
    position: absolute;
    right: 24px;
    top: 14px;
    overflow: visible;
}

.log-out {
    padding: 4px 115px 4px 10px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 300px;
    height: 52px;
    position: relative;
    overflow: hidden;
}

.heroicons-solid-arrow-right-on-rectangle {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.log-out2 {
    color: #ffffff;
    text-align: left;
    font: var(--h-5-semi-bold, 600 16px "Poppins", sans-serif);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.settings3 {
    display: flex;
    flex-direction: row;
    gap: 244px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 323px;
    top: 60px;
}

.settings-change-password2 {
    color: var(--black-color-8, #000000);
    text-align: left;
    font: var(--h-3-bold, 700 31.25px/32px "Poppins", sans-serif);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.icons {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.search {
    border-radius: 10px;
    border-style: solid;
    border-color: var(--primary-color-6, #0c3cff);
    border-width: 1px;
    padding: 4px 7px 4px 7px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
    flex-shrink: 0;
    width: 200px;
    position: relative;
    overflow: hidden;
}

.search-1 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.alarm {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.dashboard-icon {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.sign-out-icon {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.change-password {
    background: var(--grey-color-1, #e9e9e9);
    border-radius: 12px;
    padding: 60px 80px 60px 80px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
    width: 548px;
    position: absolute;
    left: 526px;
    top: calc(50% - 270px);
    overflow: hidden;
}

.change-password2 {
    flex-shrink: 0;
    width: 163px;
    height: 36.38px;
    position: static;
}

.change-password3 {
    color: var(--black-color-8, #000000);
    text-align: left;
    font: var(--h-5-semi-bold, 600 16px "Poppins", sans-serif);
    position: absolute;
    left: calc(50% - 81.5px);
    top: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.line-33 {
    border-style: solid;
    border-color: var(--white-color, #ffffff);
    border-width: 1px 0 0 0;
    width: 163px;
    height: 0px;
    position: absolute;
    left: 192.5px;
    top: 96.38px;
    transform-origin: 0 0;
    transform: rotate(-0.132deg) scale(1, 1);
}

.input-fields {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.input-field-states {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.input-field {
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.first-name {
    color: var(--black-color-8, #000000);
    text-align: left;
    font: var(--p-1-medium, 500 16px "Poppins", sans-serif);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.place-holder {
    background: var(--white-color, #ffffff);
    border-radius: 12px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 300px;
    height: 44px;
    position: relative;
}

.place-holder2 {
    color: var(--grey-color-3, #c8c8c8);
    text-align: left;
    font: var(--p-2-medium, 500 14px "Poppins", sans-serif);
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.eye-icon {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.eye-icon2 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.demo-text {
    color: var(--error, #fe1304);
    text-align: left;
    font: var(--p-2-medium, 500 14px "Poppins", sans-serif);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.eye-icon3 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.demo-text2 {
    color: var(--sucess, #00b505);
    text-align: left;
    font: var(--p-2-medium, 500 14px "Poppins", sans-serif);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.button {
    background: var(--primary-color-5, #355dff);
    border-radius: 12px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    height: 56px;
    position: relative;
    overflow: hidden;
}

.button2 {
    color: var(--white-color, #ffffff);
    text-align: left;
    font: var(--h-5-bold, 700 16px/32px "Poppins", sans-serif);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}